<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.univtln.m1dapm.g3.g3vote" >

    <!--
    //issma <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    -->
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- This app has permission to register and receive dataf message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <permission
        android:name="fr.univtln.m1dapm.g3.g3vote.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="fr.univtln.m1dapm.g3.g3vote.permission.C2D_MESSAGE" />

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CLoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CSubActivity"
            android:label="@string/title_activity_csub" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CHubActivity"
            android:label="@string/title_activity_chub"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CVoteConfUninominalOneTurn"
            android:label="@string/title_activity_cvote_uninominal_one_turn"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- Service -->
        <receiver
            android:name=".Receiver.CGcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="fr.univtln.m1dapm.g3.g3vote" />
            </intent-filter>
        </receiver>

        <service android:name=".Service.CGcmIntentService" />

        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CVoteConfSTV"
            android:label="@string/title_activity_cvote_conf_stv"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CVoteConfKemenyYoung"
            android:label="@string/title_activity_cvote_conf_kemeny_young"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Interface.CVoteConfMajorityJugement"
            android:label="@string/title_activity_cvote_conf_majority_jugement"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CVoteConfUninominalTwoTurn"
            android:label="@string/title_activity_cvote_conf_uninominal_two_turn"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CTestActivity"
            android:label="@string/title_activity_ctest" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CVoteConfCondorcet"
            android:label="@string/title_activity_cvote_conf_condorcet"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CVoteConfBorda"
            android:label="@string/title_activity_cvote_conf_borda"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CParticipantActivity"
            android:label="@string/title_activity_cparticipant" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CRecapVoteActivity"
            android:label="@string/title_activity_crecap_vote" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CVoteUninominal"
            android:label="@string/title_activity_uninominal_vote" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CContactAjout"
            android:label="@string/title_activity_ccontact_ajout" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CTestContactAjout"
            android:label="@string/title_activity_ctest_contact_ajout" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CSettingAccount"
            android:label="@string/title_activity_csetting_account" >
        </activity>
        <activity
            android:name=".Interface.CModifCompte"
            android:label="@string/title_activity_cmodif_compte" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Interface.CSupressionCompte"
            android:label="@string/title_activity_csupression_compte" >
        </activity>
        <activity
            android:name=".Interface.CContactSupression"
            android:label="@string/title_activity_ccontact_supression" >
        </activity>
        <activity
            android:name=".Interface.CRankingVote"
            android:label="@string/title_activity_cranking_vote" >
        </activity>
    </application>

</manifest>
